/* .dashboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  } */
  
  .video-container {
    text-align: center;
    width: 1400px; /* Adjust the width of each video container */
    margin-left: 10px;
  }
  
  .new-row {
    flex-basis: 100%;
    margin-top: 10px; /* Adjust the margin between rows */
  }
  
  .custom-button {
    margin-top: 5px;
    max-width: 100%;
    margin-bottom: 10px;
  }
  