.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    height: 100vh;
    background-color: #95a7a4;
    
  }
  .logo-container {
    margin-bottom: 20px;
  }
  
  .logo {
    max-width: 100%;
    height: auto;
  }
  form {
    width: 300px;
    margin-top: 20px;
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 12px;
    background-color: #5f6c6a;
    color: #fdfdfd;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 106%;
    
  }
  
  button:hover {
    background-color: #0d0c12;
  }
  